
@{
    ViewBag.Title = "Tinh";
}

<h2>Tính</h2>
<table border="1">
    <tr>
        <td>Họ tên</td>
        <td>@ViewBag.name</td>
    </tr>
    <tr>
        <td>Số điện tiêu thụ</td>
        <td></td>
    </tr>
    <tr>
        <td>Tổng tiền phải trả</td>
        <td></td>
    </tr>
</table>

