
@{
    ViewBag.Title = "Index";
}

<h2>Thực hiện tính</h2>
<form method="POST" action="/TinhToan/Tinh">
    nhập a:
    <input type="text" name="soA" />
    <br />
    nhập b:
    <input type="text" name="soB" />
    <br />
    <input type="radio" name="cong" />Cộng
    <input type="radio" name="tru" />Trừ
    <input type="radio" name="nhan" />Nhân
    <input type="radio" name="chia" />Chia
    <br/>
    <input type="submit" value="Caculate" />
</form>




