
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
@using (Html.BeginForm())
{
    <p>Mã: <input type="text" name="ma" /></p>
    <p>Mã: <input type="text" name="mk" /></p>
    <input type="submit" value="Login" />
}

