
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>XuLy</title>
</head>
<body>
    <div> 
        <h2>Xử lý</h2>
        <table>
            <tr>
                <td>Mã sinh viên: @Model.Id</td>
            </tr>
            <tr>
                <td>Tên sinh viên: @Model.Name</td>
            </tr>
            <tr>
                <td>Điểm sinh viên: @Model.Marks</td>
            </tr>
        </table>
    </div>
</body>
</html>
