
@{
    ViewBag.Title = "Index";
}

<h2>Thông tinh sinh viên</h2>
<table border="1">
    <tr>
        <td>Mã SV</td>
        <td></td>
    </tr>
    <tr>
        <td>Họ tên</td>
        <td></td>
    </tr>
    <tr>
        <td>Ngày sinh</td>
        <td></td>
    </tr>
    <tr>
        <td>Quê quán</td>
        <td></td>
    </tr>
</table>

