
@{
    ViewBag.Title = "Xacnhandonhang";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<h2>Đơn hàng đã được ghi nhận</h2>
<p>
    @Html.ActionLink("Về trang chủ", "Index", "BookStore")
</p>

